.logo-img {
    height: 2rem;
}

a:hover {
    /* color: # */
}

.cart {
    background: pink;
    padding: .5rem;
    width: fit-content;
    padding: .5rem!important;
    border-radius: 10px;
}

.productlist {
    backgr
}